<div class="score"><app-score></app-score></div>

<div id="game" class="d-flex align-items-center justify-content-space-evenly flex-wrap mt-2">
  <div class="box">
    <app-character [character]="characteres ? characteres[0] : undefined" player="1" [firstPlay]="+firstPlay === 1" [turn]="playerTurn === 1"></app-character>
  </div>

  <div class="box" >
    <app-character [character]="characteres ? characteres[1] : undefined" player="2" [firstPlay]="+firstPlay === 2" [turn]="playerTurn === 2"></app-character>
  </div>
</div>
