img {
  width: 500px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 20px 4px rgba(255, 215, 0, 0.8);
  /* text-shadow: 0px 0px 10px rgba(255, 215, 0, 1); */
}

#characterCard {
  align-items: center;
}

.position {
  text-align: center;
}

h2 {
  max-height: 72px;
}

.border {
  border: 4px solid white !important;
}

@media (max-width: 992px) {
  #characterCard {
    align-items: center;
    flex-flow: column;
  }

  #characterCard.flex-row-reverse {
    flex-direction: column !important;
  }

  #characterInfo {
    flex-flow: row !important;
    margin: 0 !important;
  }

  img {
    height: 100px;
    width: 100px;
  }

  h2 {
    font-size: 18px;
    max-height: 62px;
    overflow: hidden;
    color: rebeccapurple;
  }

  h1 {
    display: none;
    color: black;
  }
}