.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.border {
  border: 2px solid gold !important;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(255, 215, 0, 1);
}

.h2 {
  background: gold;
  font-family: 'Permanent Marker', cursive;
}

@media (max-width: 576px) {
  .player {
      display: none;
  }
}